<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}	
    {% endif %}

    <h1>Add a Trip</h1>
    <form action="new/" method="post">
    {% csrf_token %}						
        <label for="destination">Destination:</label>
        <input type="text" name="destination" id="destination" class="form-control inp-style">						
        <label for="description">Description:</label>
        <textarea name="description" id="description" class="form-control inp-style" cols="4"></textarea>						
        <label for="start_date">Start Trip Date:</label>
        <input type="date" name="start_Date" id="start_date" class="form-control inp-style">						
        <label for="end_date">End Trip Date:</label>
        <input type="date" name="end_date" id="end_date" class="form-control inp-style">						
        <button type="submit" class="btn btn-sm btn-default btn-style">Submit Trip</button>
    
    </form>
</div>				
</section>
<section class="row">
<div class="col-lg-6">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}	
    {% endif %}
</div>
</section>
</body>
</html>